/* new style */

/* body {
    background-color: #f9f9f9;
    color: #191919;
    font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.3;
} */
.esdfrgh{
  padding-top: 43px;
}

/* .main-profile-div{
  padding-top: 45px;
} */

body:not(.project-editor):not(.vue-route) #top-panel {
  min-height: 100vh;
}

#site-content {
  padding: 0;
}

#site-content {
  position: relative;
  z-index: 1;
}

#site-content::after {
  z-index: 3;
}

/* #site-content::after, .primary-navigation__strip::after {
  background-color: #000;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
} */

.grid-site,
#site-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Profile-root-3Ir {
  background-color: #f9f9f9;
  color: #191919;
  min-height: 100vh;
  position: relative;
}

.ProfileBanner-root-UPy:not(.ProfileBanner-isProfileOwner--OI) {
  background-color: #f2f2f2;
}

.ProfileBanner-root-UPy {
  -webkit-box-align: center;
  align-items: center;
  background-color: #4b4b4b;
  color: #ebebeb;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: background-color 0.15s linear,
    height 0.65s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.15s linear,
    height 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 1201px) {
  .Profile-banner-2HT {
    height: 210px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

.ProfileBanner-bannerImage-1_4 {
  background-position: center;
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: fill;
  /* position: absolute; */
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  width: 100%;
}

@media (min-width: 1489px) and (max-width: 1912px) {
  .Profile-wrap-3mj {
    max-width: 1762px;
  }
}

@media (min-width: 1201px) {
  .Profile-wrap-3mj {
    -webkit-box-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: flex;
    padding: 60px 50px 50px;
  }
}

.Profile-wrap-3mj {
  margin: 0 auto;
  max-width: 1760px;
  min-height: 101vh;
  position: relative;
}

@media (min-width: 604px) {
  .ProfileCard-root-3R2 {
    padding: 25px 30px 16px;
  }
}

@media (min-width: 1201px) {
  .ProfileCard-root-3R2 {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    flex-shrink: 0;
    width: 360px;
  }
}

.ProfileCard-root-3R2 {
  position: relative;
  z-index: 2;
}

.ProfileCard-root-3R2 .ProfileCard-header-2wU {
  text-align: center;
}
/* .App-app-1pE * {
  box-sizing: border-box;
} */

@media (min-width: 1201px) {
  .Avatar-container-3hA {
    height: 118px;
    width: 118px;
  }
}

.Avatar-container-3hA {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
  position: relative;
  -webkit-transition: margin-top 0.65s cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin-top 0.65s cubic-bezier(0.19, 1, 0.22, 1);
}
.ProfileCard-avatar-oai {
  margin-bottom: 10px;
}

.Avatar-container-3hA .Avatar-tooltipOverride-9FU {
  padding-bottom: 0;
}

.Tooltip-wrapper-1-L {
  align-self: flex-start;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: -6px;
  padding-bottom: 6px;
  position: relative;
}

.Avatar-avatar-1-h {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.Avatar-container-3hA .Avatar-root--Wh {
  display: inline-block;
}
.AvatarImage-avatarImage-3uu {
  border-radius: inherit;
  display: block;
  width: 100%;
}

.ProfileCard-userFullName-3jr {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ProfileCard-userDetails-3KG {
  color: #696969;
  margin: 0 auto;
}

.ProfileCard-userDetails-3KG .ProfileCard-line-3KX,
.ProfileCard-userDetails-3KG .ProfileCard-userLocation-2xi {
  font-size: 15px;
  line-height: 1.4;
}
.ProfileCard-userDetails-3KG .ProfileCard-lineText-3DC {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ProfileCard-userDetails-3KG .ProfileCard-line-3KX {
  margin: 0;
}

.ProfileCard-userDetails-3KG .ProfileCard-userLocation-2xi {
  margin: 20px 0;
}

.ProfileCard-userLocation-2xi .ProfileCard-anchor-3cx {
  text-decoration: none;
}
.ProfileCard-userDetails-3KG .ProfileCard-anchor-3cx {
  color: inherit;

}

.ProfileCard-locationIcon-3Po {
  fill: #959595;
  margin-right: 5px;
  width: 8px;
}

svg:not(:root) {
  overflow: hidden;
}

@media (min-width: 1201px) {
  .ProfileCard-userInteractions-1W1.ProfileCard-userFollowActions-3eh.ProfileCard-noDesktopNotification-2ya.ProfileCard-mediumLargeBtn-fW8 {
    width: 100%;
  }
}

.ProfileCard-userInteractions-1W1.ProfileCard-userFollowActions-3eh.ProfileCard-noDesktopNotification-2ya.ProfileCard-mediumLargeBtn-fW8 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.ProfileCard-userInteractions-1W1.ProfileCard-userFollowActions-3eh {
  flex-wrap: wrap;
}
.ProfileCard-userInteractions-1W1 {
  display: -webkit-box;
  display: flex;
}
.ProfileCard-buttons-ZNH {
  margin: 25px -5px 20px;
}

.ProfileCard-userInteractions-1W1.ProfileCard-userFollowActions-3eh.ProfileCard-mediumLargeBtn-fW8
  .ProfileCard-followButton-1N4 {
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 1;
  order: 0;
}
.ProfileCard-interactionButton-1gk.ProfileCard-followButton-1N4 {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition-property: color, background, border-color;
  transition-property: color, background, border-color;
}
.FollowButton-root-VgV {
  position: relative;
}
.ProfileCard-interactionButton-1gk {
  -webkit-box-flex: 1;
  flex: 1;
  margin: 0 2.5px;
}

.ProfileCard-interactionButton-1gk .ProfileCard-buttonWrapper-2kh {
  -webkit-box-flex: 1;
  flex: auto;
}


.Btn-button-BGn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ProfileCard-interactionButton-1gk.ProfileCard-follow-39e
  .ProfileCard-buttonLabel-2_O {
  padding: 10px 30px;
}
.ProfileCard-interactionButton-1gk .ProfileCard-buttonLabel-2_O {
  -webkit-box-align: initial;
  align-items: initial;
  -webkit-box-flex: 1;
  flex: auto;
  font-weight: bold;
  padding: 10px 18px;
}
.Btn-mediumLarge-1uo .Btn-labelWrapper-1jS {
  padding: 8px 18px;
}
.Btn-labelWrapper-1jS {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.Btn-mediumLarge-1uo .Btn-icon-flr.Btn-leading-29d {
  margin-right: 7px;
}
.Btn-primary-1H3 .Btn-icon-flr.Btn-leading-29d {
  float: left;
}

.FollowButton-followMark-6kv {
  background-color: #0057ff;
  border-radius: 20px;
  fill: #f5f8ff;
  width: 18px;
}

.Btn-mediumLarge-1uo .Btn-label-1Zf {
  font-size: 16px;
}

.UserInfo-root-2QU {
  width: 100%;
}

@media (min-width: 1201px) {
  .UserInfo-infoBlockRow-1xR:not(:last-child) {
    margin-bottom: 30px;
  }
}

.UserInfo-column-TMV {
  font-size: 13px;
  line-height: 1.4;
}

@media (min-width: 1201px) {
  .UserInfo-userStats-cMw {
    margin-top: -9px;
  }
}

.UserInfo-userStats-cMw {
  color: #151515;
  font-size: 15px;
  line-height: 1.15;
  margin-bottom: -6px;
  width: 100%;
}

.UserInfo-userStats-cMw .UserInfo-statRow-Erw {
  margin-bottom: 10px;
  margin-top: 10px;
}

.UserInfo-statColumn-1vg {
  padding: 5px 0;
}
.UserInfo-statValue-1_- {
  color: inherit;
  font-size: 18px;
  text-align: right;
}

.UserInfo-disabledLink-Czm {
  color: inherit;
  pointer-events: none;
}

table {
  font: 100%;
  font-size: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.UserInfo-socialLinks-cY4 {
  display: inline-block;
  margin-bottom: -10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.UserInfo-socialLinkContainer-3Zb {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 22px;
}

/* Products */

@media (min-width: 1201px) {
  .Profile-profileContents-3cP {
    -webkit-box-flex: 1;
    flex: 1;
    margin: 149px 0 50px 50px;
  }
}

.Profile-profileContents-3cP {
  -webkit-transition: margin-top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin-top 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 1201px) {
  .Profile-tabControl-wVx.Profile-hireMeCTA-2c2:not(.Profile-tabsWithBannerWithoutFeatures-klZ) {
    margin-top: 0;
  }
}

@media (min-width: 1201px) {
  .Profile-tabControl-wVx {
    margin-top: 15px;
    text-align: left;
    white-space: normal;
    height: 50px;
  }
}

.Profile-tabControl-wVx {

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  white-space: nowrap;
  height: 50px;
}

.Profile-tabControl-wVx
  .Profile-tab-3cJ.Profile-active-cBh.Profile-hireMeCTA-2c2 {
  background-color: #191919;
  color: #fff;
  text-decoration: none;
  height: 50px;
}

.Profile-tabControl-wVx .Profile-tab-3cJ:not(.Profile-active-cBh) {
  color: #696969;
}
@media (min-width: 1201px) {
  .Profile-tabControl-wVx .Profile-tab-3cJ:first-child {
    display: none;
  }
}

.Profile-tabControl-wVx .Profile-tab-3cJ.Profile-hireMeCTA-2c2 {
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  margin-right: 1000px;
  width: 100%;
}

.Profile-tabControl-wVx .Profile-tab-3cJ {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 0 8px;
}

.Profile-tabControl-wVx
  .Profile-tab-3cJ
  .Profile-anchor-1kn.Profile-hireMeCTA-2c2 {
  display: block;
  padding: 9px 18px;
}
.Profile-tabControl-wVx .Profile-tab-3cJ .Profile-anchor-1kn {
  color: inherit;
  text-decoration: inherit;
}

.Profile-tabs-DeN {
  position: relative;
}

/* Grid Starts */

@media (min-width: 1489px) and (max-width: 1912px) {
  .ContentGrid-grid-21i {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 604px) {
}
.ContentGrid-grid-21i {
  display: inline-grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.ContentGrid-grid-21i,
.ContentGrid-appreciationsGrid-2hj {
  width: 100%;
}

.ProjectCoverNeue-root-166:not(.ProjectCoverNeue-noConstraints-1Mx) {
  max-width: 404px;
  min-width: 145px;
}
.ProjectCoverNeue-root-166 {
  position: relative;
}

.ContentGrid-gridItem-WHz {
  min-width: 0;
}

.Cover-cover-2mr {
  position: relative;
}

.Cover-wrapper-300:not(.Cover-noConstraints-PzQ) {
  height: 0;
}

.Cover-wrapper-300 {
  border-radius: 4px;
  display: block;
  padding-top: 78.22%;
  position: relative;
  width: 100%;
}
.ProjectCoverNeue-wrapper-27j {
  background-color: #f2f2f2;
  position: relative;
}

.Cover-content-2R2 {
  border-radius: 4px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.DominantColor-dominantColor-2PM {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ProjectCoverNeue-loaded-26R .ProjectCoverNeue-image-1MZ {
  will-change: auto;
}
.ProjectCoverNeue-image-1MZ {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  width: 100%;
  will-change: transform;
}
.ProjectCoverNeue-image-1MZ,
.ProjectCoverNeue-coverLink-102.ProjectCoverNeue-coverLink-102 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ProjectCoverNeue-image-1MZ {
  border-radius: 4px;
  display: block;
  overflow: hidden;
  width: 100%;
}
.App-app-1pE * {
  box-sizing: border-box;
}
img {
  border: 0;
}