.mklydfbsn{
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 17rem));
    width: auto;
    display: grid;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

.bvncmdkdj{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    height: 145px;
}

.njhgyflvdiw{
    border-radius: 4px;
    display: block;
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
}

.nnsxnslxkax{
    text-align: center;
}

.mkoqszert{
    text-align: center;
    padding: 15px;
    font-size: 23px;
    font-weight: 600;
    color: grey;
}

.mkoqszerdefeft{
    text-align: center;
    height: 80px;
    font-size: 24px;
    font-weight: 300;
    color: black;
    padding: 35px;
}

.kfjfhurcncncbchn{
    margin-left: 20px;
    margin-top: 2px;
    width: 285px;
}