body{
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
.table-new-table{
    width: 100%;
    border-collapse: collapse;
}

.jfkvvjvsv
{
    padding: 20px 2px;
    /* border: 1px solid #ddd; */
    text-align: center;}

.kjilljjhn{
background-color: gray;
color: white;
}

.mnbnmnb:nth-child(even){
    background-color: #f5f5f5;
}

/* ///// Responsive ///// */

@media(max-width: 500px){
    .oknbhgrtyfc{
        display: none;
    }
    .table-new-table , .lgadkyhdtq, .mnbnmnb,.jfkvvjvsv{
        display: block;
        width: 100%;
    }
    .mnbnmnb{
        margin-bottom: 15px;
    }
    .jfkvvjvsv{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .jfkvvjvsv::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.order-name-name-order{
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding-bottom: 20px;
    display: flex;
}

.lkjhasdrfr{
    padding: 50px;
}