:root{
    --main-color: #444444;
    --color-dark: #1D2231;
    --text-grey:#8390A2;
}

/* * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
} */

.sidebar{
  width: 200px;
 position: fixed;
  left: 0;
  top: 0;
 height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: width 300ms;
  /* background-color: aqua; */

}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
    /* background-color: blue; */
}
.sidebar-brand span{
 display: inline-block;
 padding-bottom: 1rem;

}
.sidebar-menu{
    margin-top: 4rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}
.sidebar-menu a.active{
    background: rgb(216, 216, 216);
    padding-top:1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toogle:checked +.sidebar{
   width: 70px;
}
#nav-toogle:checked + .sidebar .sidebar-brand,
#nav-toogle:checked + .sidebar li {
    padding-left: 1rem;
    text-align: center;
 }
 #nav-toogle:checked + .sidebar li a {
    padding-left: 0rem;
 }
 /* #nav-toogle:checked + .sidebar li a span{
    padding-right: 1rem;
 } */

#nav-toogle:checked +.sidebar .sidebar-brand h2 span:last-child,
#nav-toogle:checked +.sidebar li a  span:last-child
{ 
    display: none;
 }

 #nav-toogle:checked ~ .main-content{
   margin-left: 70px;
 }

 #nav-toogle:checked ~ .main-content header{
   width: clac(100% -70px);
   left: 70px;
  }
 

.main-content {
    transition: margin-left 300ms;
    background-color: #444444;
    /* background: blueviolet; */
}

.new-header-header-new{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding:1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}


#nav-toogle{
    display: none;
}

header h2{
    color: #222;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;

}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding:.5rem;
    border: none;
    outline: none;

}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    margin-top: -3px !important;
}

main{
  
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 100px);
    /* background-color: blue; */
    /* padding-left: 0%; */
 


}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;

}

.card-single{
    display: flex;
    justify-content: space-between;
    background:#fff;
    padding:2rem;
    border-radius: 2px;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);

}
.card-single div:first-child span{
    color: var(--text-grey);

    
}
.card-single:last-child{
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:last-child span
.card-single:last-child div:first-child span {
  color:#fff;

}

@media only screen and (max-width: 1200px) {
    
        .sidebar{
            width: 70px;
        }
         .sidebar .sidebar-brand,
         .sidebar li {
            padding-left: 1rem;
            text-align: center;
        }
         .sidebar li a {
            padding-left: 0rem;
        }
        /* #nav-toogle:checked + .sidebar li a span{
            padding-right: 1rem;
        } */
        
        .sidebar .sidebar-brand h2 span:last-child,
        .sidebar li a  span:last-child
        { 
            display: none;
        }
        
          .main-content{
            margin-left: 70px;
        }
        
          .main-content header{
            width: clac(100% -70px);
            left: 70px;
        }
        
}


/* ////// */

.bfhrjj {
    align-self: center;
    
    justify-content: center;
    margin-bottom: -6px;
    padding-bottom: 6px;
    position: relative;
}

.mnvklsjjd{font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashicon-icon{
height: 14px;
margin-right: 7px;
}